.radio-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
  color: #000;
}

.radio-container input {
  display: none;
}

.custom-radio {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #ddd;
  border-radius: 50%;
  position: relative;
  box-sizing: border-box;
  font-size: 16px;
  padding: 5px;
}

.radio-container input:checked + .custom-radio {
  background-color: #2196F3;
  border-color: #2196F3;
}

.nextbutton {
    font-size: 18px;
    width: 150px;
    padding: 12px 24px;
    border-radius: 8px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
    border: none;
    background-color: #2196F3;
    color: white;
    caret-color: transparent;
}